<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viagens</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="container">
    <div class="box">
        <div class="first-box row">
            <h1>Viagem - Excluir |</h1>
            <a href="index.html"><h1>Menu</h1></a>
        </div>
        <div class="second-box">
            <form>       
                <div class="row">
                    <input class="input-style" style="width: 80px;" type="number" placeholder="ID"/>
                </div>
                <div style="text-align: center;">
                    <input class="button button-danger" style="width: 100px;" type="submit" value="Excluir">  
                </div>    
            </form>
        </div>
    </div>
</body>
</html>
