<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viagens</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="container">
    <div class="box">
        <div class="first-box row">
            <h1>Viagem - Listar |</h1>
            <a href="index.html"><h1>Menu</h1></a>
        </div>
        <div class="second-box">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Local</th>
                        <th>Data</th>
                        <th>Diárias</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Salvador </td>
                        <td>28/10/2021</td>
                        <td>4</td>
                        <td>R$ 350,0</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>São Paulo</td>
                        <td>02/11/2021</td>
                        <td>3</td>
                        <td>R$ 500,0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>