<style>
    p{
        margin: 20px 0 0 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    li{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    h2{
        color: #003838;
        text-shadow: 1em rgba(0, 0, 0, 0.226);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    </style>
    <h2>Habilidades</h2>
    <p>
    Lorem ipsum dolor sit amet. Hic unde unde et fugiat debitis ex voluptas fuga. Et quos aliquid ut optio temporibus ut galisum consequatur a tenetur animi ut voluptate doloribus. Quo quia nostrum 33 dolore debitis ut quia autem eos voluptate asperiores.
    <ul>
        <li>Ea autem voluptas id distinctio consequatur.</li>
        <li>Qui architecto nesciunt hic rerum quam et tenetur sapiente.</li>
        <li>Id error dignissimos qui optio voluptatibus sed consequatur blanditiis et veritatis expedita.</li>
        <li>Ab nemo beatae ab voluptatibus corrupti eum quae harum cum numquam nihil.</li>
        <li>Aut nostrum repudiandae id architecto officia ex dolor minima.</li>
        <li>Ea autem voluptas id distinctio consequatur.</li>
        <li>Qui architecto nesciunt hic rerum quam et tenetur sapiente.</li>
        <li>Id error dignissimos qui optio voluptatibus sed consequatur blanditiis et veritatis expedita.</li>
        <li>Ab nemo beatae ab voluptatibus corrupti eum quae harum cum numquam nihil.</li>
        <li>Aut nostrum repudiandae id architecto officia ex dolor minima.</li>
    </ul>
    </p>