<style>
img{
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 186px;
    border-radius: 50%;
}

h2{
    color: #003838;
    text-shadow: 1em rgba(0, 0, 0, 0.226);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
</style>

<div>
    <h2>Resumo</h2>
    <p>
        <img src="../img/perfil.jpg" alt="">
        Lorem ipsum dolor sit amet. Et voluptatum mollitia sed voluptatem modi ab odio velit id ipsum repellat rem nulla expedita. Eum voluptas quidem 33 expedita aliquid hic perferendis deserunt in distinctio neque aut enim deserunt. Eos labore voluptatem eos dolorem commodi ab maiores ipsum ut cupiditate ducimus in officiis reiciendis sed laborum perspiciatis.

        Eum tempore quis et repudiandae architecto sed dolor ducimus. Aut architecto atque qui consequatur sint ab galisum assumenda. Qui quibusdam adipisci et velit dolores rem asperiores quisquam qui dolor soluta non possimus autem quo porro molestiae. Hic cupiditate maxime eos corporis quasi id placeat autem in impedit velit qui maiores neque.

        Rem repellat aliquid non officia deserunt in enim sunt sit autem quia et quasi accusantium? Ut similique dicta eos consectetur tempore ex assumenda aperiam qui praesentium voluptatum est voluptatem reprehenderit sit commodi consequatur et animi molestias.
    </p>
    <p>
        Sed placeat nihil eum quasi optio et soluta nisi aut iste facilis est atque fugit sit facere eaque id sequi consequatur. Eos facilis veniam quam voluptas et iste eveniet! Qui tempore omnis aut reiciendis dolores qui aspernatur vitae sed expedita rerum in officia recusandae.

Qui animi aspernatur qui dolor velit non dolorem debitis quo fugiat maxime qui deleniti porro sit dignissimos enim qui laboriosam repellat. Qui voluptatem veniam quo tenetur incidunt quo accusantium sint. 33 modi illum eum voluptatem iure est dolorum laboriosam ex similique consequatur vel cupiditate velit ut doloribus eius est sint aspernatur. Quo consequuntur delectus non nostrum numquam At dolorem consequatur qui recusandae quos?
    </p>
</div>