<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/index.js"></script>
</head>
<body>
    
    <header> 
        <div id="logo">
            <img src="../img/logo.png" alt="" height="40px">
            <a href="index.html" class="title"><h1>PerfilPRO</h1></a>
        </div>
        <nav>
            <ul>
                <li onclick="abstract()" >Resumo</li>
                <li onclick="experience()">Experiências</li>
                <li onclick="ability()">Habilidades</li>
                <li onclick="contact()">Contato</li>
            </ul>
        </nav>
    </header>

    <main>
        <iframe id="frame"></iframe>
    </main>

    <footer>

    </footer>

</body>
</html>